<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="bookServiceID" class="Demo2DI.BookService">
	<property ref="bookDaoid" name="bookDao"></property>	
	</bean>
	<bean id="bookDaoid" class="Demo2DI.BookDao"></bean>
</beans>