<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	

	<bean id="Mybeanid" class="Demo10BeanConstuctor.MyBean" >
	
	<constructor-arg index="0" value="qqq" ></constructor-arg>
	<constructor-arg index="1" value="10">
	
	</constructor-arg>
	<constructor-arg index="2" ref="MySupportId">
	</constructor-arg>
	</bean>
	<bean id="MySupportId" class="Demo10BeanConstuctor.MySupport">
	<constructor-arg index="0" value="aaa"></constructor-arg>
	</bean>
</beans>